body
{
	background: url(../photo2.jpg) right top no-repeat;
	background-attachment: fixed;
}
#paragraph_1
{
	margin: 100px auto;
	border: 3px solid red;
}
#paragraph_2
{
	margin: 10px auto;
	border: 1px solid blue;
}
.square
{
	list-style-type: square;
}
ol
{
	list-style-type: none;
    counter-reset:  item;
}
.list li:before
 {
  content: counter(item) ') ';
  counter-increment: item;
}
